@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron my-1" id="main-banner">
    <div class="container">
        <h1 class="display-4">The 604 Foundation</h1>
        <p class="lead">Summary of what we do and who we are. Something around two sentences or less.</p>
        <p class="lead">Read more</p>
    </div>
</div>
<div class="jumbotron my-1" id="mission">
    <div class="container">
        <h2 class="text-center">Our mission</h2>
        <p class="text-center">A summary of our goals. A link to a page talking about the origins of the organization and what we aim to do.</p>
    </div>
</div>
@await Html.PartialAsync("~/Views/Partials/_FeaturedEvents.cshtml")

@await Html.PartialAsync("~/Views/Partials/_FeaturedNews.cshtml")
<div class="jumbotron my-1" id="contact">
    <div class="container">
        <h2 class="text-center">Contact</h2>
    </div>
</div>

<footer class="container">
    <p>© Charlie Baxter 2018</p>
</footer>
