<div class="jumbotron my-1" id="news">
    <h2 class="text-center">News & Updates</h2>
    <p class="text-center">Panels containing the three most recent blog entries. The panels will contain a brief summary and a link to the actual entry.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-header">Entry 1</h4>
                    <p class="card-body">Summary of Entry 1</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-header">Entry 2</h4>
                    <p class="card-body">Summary of Entry 1</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-header">Entry 3</h4>
                    <p class="card-body">Summary of Entry 1</p>
                </div>
            </div>
        </div>
    </div>
</div>
